<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="form-inline" *ngIf="role === ''">
      <a class="navbar-brand" routerLink="login">Login</a>
      <a class="navbar-brand" routerLink="register">Register</a>
    </div>
    <div class="form-inline" *ngIf="role !== ''">
      <button class="btn navbar-brand" (click)="onLogout()">Logout</button>
      <a class="navbar-brand" routerLink="notes">Notes</a>
      <div *ngIf="role === 'ROLE_ADMIN'">
        <a class="navbar-brand" routerLink="management">Management</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row-2">
    <div class="col">
      <router-outlet></router-outlet>
    </div> 
  </div>
</div>
