<h2>Login</h2>
<form (ngSubmit)="onSignIn(f)" #f="ngForm">
    <div class="form-group">
        <label for="username">Email</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="dupont.aignant@gmail.com" ngModel required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password123!" ngModel required>
    </div>
    <div class="form-group" *ngIf="failed">
        <p class=" alert alert-danger" role="alert">Error !</p>
    </div>        
    <button class="form-group btn btn-primary" type="submit" [disabled]="f.invalid">Se connecter</button>
</form>
