<div *ngIf="filiereId != 101">
    <div class="list-group-item">
        <h5>Matière présente</h5>
        <div class="row border">
            <div class="col text-center bg-light font-weight-bold">
                ID
            </div>
            <div class="col text-center font-weight-bold">
                Nom
            </div>
            <div class="col text-center font-weight-bold bg-light">
                ects
            </div>
            <div class="col text-center font-weight-bold">
                Notation
            </div>
            <div class="col text-center font-weight-bold bg-light">
                Nombre de notes
            </div>
            <div class="col text-center font-weight-bold">
                Option
            </div>
        </div>
        <div *ngFor="let m of matieres" class="row border">
            <div class="col text-center bg-light">
                {{ m.id }}
            </div>
            <div class="col text-center">
                {{ m.nom }}
            </div>
            <div class="col text-center bg-light">
                {{ m.ects }}
            </div>
            <div class="col text-center">
                {{ m.typeNotation }}
            </div>
            <div class="col text-center bg-light">
                {{ m.nbNotes }}
            </div>
            <div class="col text-center">
                {{ m.option }}
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <h5>Ajoute ta matière !</h5>
        <form (ngSubmit)="onAddMatiere(f)" #f="ngForm">
            <div class="form-group row">
                <label for="inputNom" class="col-3 col-form-label">Nom</label>
                <div class="col-9">
                    <input type="text" class="form-control" id="inputNom" name="inputNom" ngModel required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEcts" class="col-3 col-form-label">Ects</label>
                <div class="col-9">
                    <input type="number" class="form-control" id="inputEcts" name="inputEcts" ngModel required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputNbNotes" class="col-3 col-form-label">Nombre de notes</label>
                <div class="col-9">
                    <input type="number" class="form-control" id="inputNbNotes" name="inputNbNotes" ngModel required>
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-3">Type de notation</legend>
                    <div class="col-9">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inputNotation" id="inputNotation1" value="MOYENNE" selected ngModel>
                            <label class="form-check-label" for="inputNotation1">
                                Moyenne
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inputNotation" id="inputNotation2" value="MAX_EXAM" ngModel>
                            <label class="form-check-label" for="inputNotation2">
                                Max exam
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inputNotation" id="inputNotation3" value="PROJET" ngModel>
                            <label class="form-check-label" for="inputNotation3">
                                Projet final
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-3">C'est une option ?</div>
                    <div class="col-9">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inputOption" name="inputOption" ngModel>
                            <label class="form-check-label" for="inputOption">
                                Oui
                            </label>
                        </div>
                </div>
            </div>
            <div class="form-group row">
              <div class="col-10">
                <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Ajouter la matière</button>
              </div>
            </div>
          </form>
    </div>
</div>
