<div class="container-fluid">
    <h2>Calculateur de moyenne</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <label for="inputSelect" class="col-6 col-form-label">Choisi ta filière !</label>
                <div class="col-6">
                    <select class="form-control custom-select" id="inputSelect" name="inputSelect" ngModel>
                        <option *ngFor="let filiere of filieres" [value]="filiere.id" (click)="onClick(filiere.id)">{{ filiere.nom }}</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="list-group-item" *ngIf="selectedId !== 101">
            <h5 *ngIf="calculOn" class="badge badge-info text-wrap font-italic">Moyenne finale: {{ moyenneTotale() }}/20 </h5>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div *ngFor="let m of activeFiliere.matieres" class="list-group-item">
                    <div class="row">
                        <div class="col-8">
                            <h5>{{ m.nom }}</h5>
                        </div>
                        <p class="col-4 badge badge-info text-wrap font-italic" *ngIf="calculOn">Moyenne: {{ moyenneMatiere(m.id) }}/20</p>
                    </div>
                    <div class="form-group row" *ngFor="let i of arrayNotes(m.nbNotes)">
                        <input type="number" min="0" max="20" class="col-4" placeholder="Note" name="{{ getNameForm('inputNote', m.id, i) }}" ngModel>
                        <input type="number" min="1" class="col-4" placeholder="Coefficient" name="{{ getNameForm('inputCoefficient', m.id, i) }}" ngModel>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="inputOption" name="{{ getNameForm('inputBox', m.id, i) }}" ngModel>
                                <label class="form-check-label" for="inputOption">
                                    Examen ?
                                </label>
                            </div>
                        </div>
                    </div>        
                </div>
                <button type="submit" value="go" class="btn btn-primary" [disabled]="f.invalid">Calculez</button>
            </form>
        </li>
    </ul>
</div>