<h2>Register</h2>
<form (ngSubmit)="onRegister(f)" #f="ngForm">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="dupont.aignant@gmail.com" ngModel required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password123!" ngModel required>
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Dupont" ngModel required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Aignant" ngModel required>
    </div>
    <div class="form-group">
        <label for="roleName">Role</label>
        <select id="roleName" name="roleName" class="form-control" ngModel required>
            <option value="USER">Utilisateur</option>
            <option value="ADMIN">Administrateur</option>
        </select>
    </div>
    <div class="form-group" *ngIf="failed">
        <p class=" alert alert-danger" role="alert">Error !</p>
    </div>
    <button class="form-group btn btn-primary" type="submit" [disabled]="f.invalid">Finish</button>
</form>
