<div class="container-fluid">
    <h2>Gestions des filières et des matières</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <h4>Crée ta filière !</h4>
            <p class="badge badge-info text-wrap font-italic">juste le nom :)</p>
            <form (ngSubmit)="onCreate(created)" #created="ngForm">
                <div class="form-row">
                    <label for="inputFiliere" class="col-3 col-form-label">Nom de la filière</label>
                    <div class="col-7">
                      <input type="text" class="form-control" id="inputFiliere" name="inputFiliere" placeholder="Cybersécurité" ngModel required>
                    </div>
                    <button type="submit" class="btn btn-primary col-2" [disabled]="created.invalid">Ajouter</button>
                </div>
              </form>
        </li>
        <li class="list-group-item">
            <h4>Tu préféres en modifier une !</h4>
            <p class="badge badge-info text-wrap font-italic">tu veux laquelle?</p>
            <form (ngSubmit)="onSelect(selected)" #selected="ngForm">
                <div class="form-row">
                    <label for="inputSelect" class="col-3 col-form-label">Choix de la filière</label>
                    <div class="col-7">
                        <select class="form-control custom-select" id="inputSelect" name="inputSelect" ngModel>
                            <option *ngFor="let filiere of filieres" [value]="filiere.id">{{ filiere.nom }}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary col-2">Choisir</button>
                </div>

            </form>
        </li>
        <li class="list-group-item">
            <app-manage-matiere-view [filiereId]="id" ></app-manage-matiere-view>
        </li>
    </ul>
</div>